
.title{
    margin-top: 36px;
    margin-bottom: 12px;
    text-align: center;
    font-family: 'Exo 2';
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #000000;
}